html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  font-family: "Patua One", sans-serif;
  box-sizing: border-box;
}

.disabled-button {
  color: gray !important;
}
